body {
    height:100vh;
    overflow-y:hidden;
    background-image: url('https://sso.radford.edu/idp/images/10.jpg');
    background-size:100% 100%;
    background-repeat:no-repeat;
    color: black;
    font-family: 'Roboto', sans-serif;
}
.loginContainer {
    text-align: center;
    border-radius: 15px;
    border:7px ridge white;
    background-image: url('https://sso.radford.edu/idp/images/red_bg_pattern.jpg');
    margin-top: 100px;
}
.typeInputs {
    display: block;
    margin: 10px auto;
    width: 320px;
    border-radius: 10px;
    text-align: center;
    border:1px solid navy;
}
.submit {
    border-radius: 10px;
    border:1px solid navy;
    margin-top: 10px;
    width: 100px;
}
.title {
    color: white;
    margin-bottom: 15px;
}
p {
    color: white;
    font-weight: bold;
}
hr {
    width: 80%;
}
a:link {
    color: navy;
}
a:visited {
    color: cyan;
}
.registrationMessage{
	display: block;
	text-align: center;
}
.red{
	color: red;
}
.green{
	color: green;
}
@media all and (min-width : 320px) and (max-width : 767px) {
    .loginContainer {
        margin-top:25px;
        margin-right: 10px;
    }
    .typeInputs {
        width: 250px;

    }
}